name: Build and Test

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Crystal
        uses: crystal-lang/install-crystal@5503f15cfd350dfc402f9c2f0fa31bdf83fd7384 # v1.8.3

      - name: Verify Crystal version
        run: ./bin/ci/verify-crystal-version.sh

      - name: Install shards
        run: shards install

      - name: Build exe/skedjewel.cr
        run: crystal build exe/skedjewel.cr

      - name: Run tests
        run: crystal spec
