name: Build and Test

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Crystal
        uses: crystal-lang/install-crystal@56684e85b94c6340f5035965d57dcfdedd1ab0de # v1.9.1

      - name: Verify Crystal version
        run: ./bin/ci/verify-crystal-version.sh

      - name: Install shards
        run: shards install

      - name: Build exe/skedjewel.cr
        run: crystal build exe/skedjewel.cr

      - name: Run tests
        run: crystal spec
