name: Release

on:
  release:
    types:
      - created

permissions:
  contents: write # Permit 'write' (which also includes 'read') to upload assets to release.

jobs:
  build_and_upload_linux_binary:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Crystal
        uses: crystal-lang/install-crystal@56684e85b94c6340f5035965d57dcfdedd1ab0de # v1.9.1

      - name: Verify Crystal version
        run: |
          version=$(cat .crystal-version)
          escaped_version=$(sed 's/\./\\./g' <<< "$version")
          [[ "$(crystal --version)" =~ ^Crystal\ ${escaped_version}\  ]]

      - name: Build
        run: shards build --production --release --no-debug --static

      - name: Check version matches tag
        run: "[[ v$(bin/skedjewel --version | cut -d' ' -f2) == ${{ github.ref_name }} ]]"

      - name: Move and rename
        run: mv bin/skedjewel ./skedjewel-${{ github.ref_name }}-linux

      - name: Upload release binary
        uses: shogo82148/actions-upload-release-asset@8f6863c6c894ba46f9e676ef5cccec4752723c1e # v1.9.2
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: skedjewel-${{ github.ref_name }}-linux
